body {
    font-family: 'Nunito', sans-serif;
    background: url("img/bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color:#eee;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.content {
  flex-grow: 1;
}

.footer {
  width: 100%;
  height: 25px;
  background-color: rgba(238, 238, 238, 0.8);
  color: rgba(66, 66, 66, 0.8);
  text-indent: 1em;
}

.card h1 {
  color: rgba(66, 66, 66, 0.8);
  font-size: 300%;
  font-weight: 400;
}

.card {
  max-width: 90%;
  width: 550px;
  border-radius: 5px;
  position: fixed;
  top: 25%;
  left: 25%;
  //transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(238, 238, 238, 0.8);
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.2);
  line-height: normal;
  padding: 10px;
}

.card-post {
  min-width: 90%;
  max-width: 90%;
  border-radius: 5px;
  background-color: rgba(238, 238, 238, 0.8);
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.2);
  margin: 15px auto 15px;
  flex-wrap: wrap;
  color: rgba(66, 66, 66, 0.8);
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button {
    display: block;
    width: 130px;
    height: 25px;
    margin: 0px 5px 15px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: #eee;
    font-weight: bold;
    text-decoration: none;
    font-size: 12pt;;
    font-weight: 100;
}

.button.blue {
  background: #356CF1;
}

.button.green {
  background: #2D9B42;
}

.division {
    min-height: calc(100% - 25px);
    display: flex;
    flex-direction: row;
}

.container {
  text-align: center;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: baseline;
  overflow-x: hidden;
}

.sidenav {
    max-width: 300px;
    min-width: 300px;
    background-color: #1D2127;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    text-indent: 1em;
    font-size: 14pt;
    color: rgba(238, 238, 238, 0.8);
}

/* animate.css -http://daneden.me/animate
*  Version - 3.6.0
*  Licensed under the MIT license - http://opensource.org/licenses/MIT
*  Copyright (c) 2018 Daniel Eden */
.animated{animation-duration:2s;animation-fill-mode:both}.animated.infinite{animation-iteration-count:infinite}@keyframes fadeIn{from{opacity:0}to{opacity:1}}.fadeIn{animation-name:fadeIn}
