---
layout: default
---
<div class="division">
  <div class="container">
    <div class="topbar animated fadeInLeft">
      <div class="titlebar">
        <h1>{{ page.topbar }}</h1>
      </div>
        <input type="checkbox" id="check">
        <label for="check"></label>
        <span></span>
        <div class="menumobile">
          {% include menu.html %}
        </div>
    </div>
    <div class="card-post animated fadeIn">
      <article>
        {{ content }}
      </article>
    </div>
  </div>
  <div class="sidenav" id="sidenav">
    {% include menu.html %}
  </div>
</div>
